#adminZone
    #adminPanel
        h1 Preselection
        #revenuePanel.item
            p Revenue

            .input-wrapper
                input#revenue-input(type="number" placeholder="Revenue", value=campaignRevenue)
                span.input-suffix %
        #intensityPanel.item
            p Intensity
            select#intensity-input
                option(data-code="1" selected= campaignIntensity === 1) Reduce
                option(data-code="2" selected= campaignIntensity === 2) Nominal
                option(data-code="3" selected= campaignIntensity === 3) Tightened
                option(data-code="4" selected= campaignIntensity === 4) Intensive