h1 Login
form(action="/#{lang}/user/login" method="POST")
  div
    label(for="email") Email:
    input(type="text" id="mail" name="mail" required)
  div
    label(for="password") Password:
    input(type="text" id="pass" name="pass" required)
  div
    a(href="/#{lang}/user/recovery") Forgot password?
  div  
    button(type="submit") Submit