extends header
block content
  h1 Password reset
  form(action="/user/passreset" method="POST")
    div
      label(for="email") New Password:
      input(type="text" id="pass" name="pass" required)
    div
      label(for="email") Confirm New Password:
      input(type="text" id="confirmpass" name="confirmpass" required)
    div
      button(type="submit") Submit