extends layout
block content
    include subviews/mainBar.jade
    include subviews/secondBar.jade
    h1 Selection
    if (session && session.role == 1)
        include adminSelection.jade
    include test.jade