table#selection-table.table2
    thead
        tr
            th
                .header2
                    .header2-text Supplier
                    .header2-order
                        i.fa-solid.fa-sort
                .filters2

            th
                .header2
                    .header2-text MDM Code
                    .header2-order
                        i.fa-solid.fa-sort
                .filters2

            th
                .header2
                    .header2-text Team
                    .header2-order
                        i.fa-solid.fa-sort
                .filters2

            th
                .header2
                    .header2-text Performance scope
                    .header2-order
                        i.fa-solid.fa-sort
                .filters2

            th
                .header2
                    .header2-text Risk Scope
                    .header2-order
                        i.fa-solid.fa-sort
                .filters2

            th
                .header2
                    .header2-text Yearly spend
                    .header2-order
                        i.fa-solid.fa-sort
                .filters2                

            th
                .header2
                    .header2-text Previous monitoring level
                    .header2-order
                        i.fa-solid.fa-sort
                .filters2 

            th
                .header2
                    .header2-text NPI / Critical product 1 / Reach impact
                    .header2-order
                        i.fa-solid.fa-sort
                .filters2                

            th
                .header2
                    .header2-text HIE / SE / Weak signal
                    .header2-order
                        i.fa-solid.fa-sort
                .filters2                

            th
                .header2
                    .header2-text New / Change of organization / Agree
                    .header2-order
                        i.fa-solid.fa-sort
                .filters2                

            th
                .header2
                    .header2-text Involved in targeted strategy
                    .header2-order
                        i.fa-solid.fa-sort
                .filters2

            th
                .header2
                    .header2-text Comment
                    .header2-order
                        i.fa-solid.fa-sort
                .filters2                

            th
                .header2
                    .header2-text History
                    .header2-order
                        i.fa-solid.fa-sort
                .filters2
