#secondBar
    if session && (session.role === 1 || session.role === 2)
        .item
            a(href="/#{lang}/selection")
                button#selectionButton
                    p #{__("selection")}
    if session && (session.role === 1 || session.role === 2)
        .item
            a(href="/#{lang}/stats")
                button#statsButton.noborder
                    p #{__("stats")}