* {
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
}
body {
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

body h1{
  text-align: center;
  
}

a {
  color: #00B7FF;
}

#mainBar{
  background-color: #070e1d;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 35px;
}
#mainBar .item{
margin-left: 5px;
margin-right: 5px;
}

#mainBar img
{
  border: 1.4px solid transparent;
  border-radius: 2px;
  transition: 0.3s;
}
#mainBar img.active
{
  border: 1.4px solid #0080ff;
}
#mainBar img:hover
{
  border: 1.4px solid #0080ff;
}
#mainBar a{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  text-decoration: none;
  color: #0080ff;
  transition: 0.3s;
}
#mainBar a:hover{
  color: #0052a5;
}
#secondBar{
  background: linear-gradient(90deg, rgba(177,120,0,1) 0%, rgba(235,175,54,1) 100%);
  height: 30px;
  border: 1px solid black;
  display: flex;

}
#secondBar .item button{
  height: 100%;
  width: fit-content;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  background-color: transparent;
  border-top:hidden;
  border-bottom:hidden;
  border-left:hidden;
  border-right: 1px solid;
  font-weight: bold;
  transition: 0.3s;
}
#secondBar .item button:hover{
  background-color: #00000011;
}
#secondBar .item .noborder{
  border-right:hidden;
}
#secondBar .item button p{
  margin:0;
  color: rgb(0, 0, 0,0.7)
  }





#adminZone{
  margin-top:50px;
  width: 100%;
  height: 140px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

#adminPanel{
  width: 140px;
  height: 100%;
  background-color: #ececec;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.15);
  border-radius: 1px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  justify-content: left;
  text-align: left;
}

#adminPanel .item{
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
  text-align: left;
  margin-left: 5px;
}
#adminPanel p{
  width: 100%;
  font-size: 15px;
}
#adminPanel h1{
  height: 30%;
  font-size: 20px;
  text-align: center;
}
#revenuePanel{
  height: 35%;
  width: 100%;
}

/*#revenue-input{
  width: 80px !important;
  text-align: left!important;
  height: 15px!important;
  border: 1px solid black!important;
}*/

#intensity-input{
  width: 85px!important;
  height: 19px!important;
  border: 1px solid #ccc;
  border-radius: 4px;
}



#intensityPanel{
  height: 40%;
  width: 100%;
}






#data-table {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  border-collapse: collapse;
  width: 99%;
  table-layout: fixed;
  box-shadow: 0px -4px 15px rgba(0, 0, 0, 0.5);
  margin: auto;
  border: 1px solid #000000;
}

#data-table td,
#data-table th {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding: 8px;
  text-align: center;
}

#data-table tr:nth-child(even) {
  background-color: #f0f1ff
}
/*
#data-table tr:hover {
  background-color: rgba(242, 244, 255, 0.123)
}
*/
#data-table th {
  /*background: rgb(0,0,158);
  background: linear-gradient(0deg, rgba(0,0,158,1) 0%, rgba(87,87,255,1) 100%);*/
  background-color: #c4c4c4;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}

#data-table th input {
  max-width: 70px;
  height: 15px;
}





.cursorPointer{
  cursor: pointer;
}

/* Set the maximum height for table cells and allow wrapping */
#data-table td {
  max-height: 50px;
  /* Adjust the height as needed */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th button {
  font-size: 10px;
  /* Increase font size */
  cursor: pointer;
}

.sort-button {
  border: none;
  background-color: transparent;
  font-size: 14px;
  /* Increase font size */
  cursor: pointer;
}

.filter-button {
  font-size: 10px;
  /* Increase font size */
  cursor: pointer;
}

.filter-button.active {
  background-color: #3d77ce;
  border-color: #000000;
}

td.intensity4 {
  color: red;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

td.intensity3 {
  color: rgb(255, 166, 0);
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

td.intensity2 {
  color:limegreen;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

td.intensity1 {
  color: green;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

td input[type="checkbox"] {
  transform: scale(1.5);
  /* Scale up the checkbox by 1.5 times */
  margin: 10px;
  /* Adjust margin if needed */
}


#data-table {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  border-collapse: collapse;
  width: 99%;
  table-layout: fixed;
  box-shadow: 0px -4px 15px rgba(0, 0, 0, 0.5);
  margin: auto;
  border: 1px solid #000000;
}

#data-table td,
#data-table th {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding: 8px;
  text-align: center;
}

#data-table tr:nth-child(even) {
  background-color: #f0f1ff
}
/*
#data-table tr:hover {
  background-color: rgba(242, 244, 255, 0.123)
}
*/
#data-table th {
  /*background: rgb(0,0,158);
  background: linear-gradient(0deg, rgba(0,0,158,1) 0%, rgba(87,87,255,1) 100%);*/
  background-color: #c4c4c4;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}

#data-table th input {
  max-width: 70px;
  height: 15px;
}





/* Set the maximum height for table cells and allow wrapping */
.table1 td {
  max-height: 50px;
  /* Adjust the height as needed */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table1 th button {
  font-size: 10px;
  /* Increase font size */
  cursor: pointer;
}

.table1 .sort-button {
  border: none;
  background-color: transparent;
  font-size: 14px;
  /* Increase font size */
  cursor: pointer;
}

.table1 .filter-button {
  font-size: 10px;
  /* Increase font size */
  cursor: pointer;
}

.table1 .filter-button.active {
  background-color: #3d77ce;
  border-color: #000000;
}

.table1 td.intensity4 {
  color: red;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

.table1 td.intensity3 {
  color: rgb(255, 166, 0);
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

.table1 td.intensity2 {
  color:limegreen;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

.table1 td.intensity1 {
  color: green;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

.table1 td input[type="checkbox"] {
  transform: scale(1.5);
  /* Scale up the checkbox by 1.5 times */
  margin: 10px;
  /* Adjust margin if needed */
}


.table1 {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  border-collapse: collapse;
  width: 99%;
  table-layout: fixed;
  box-shadow: 0px -4px 15px rgba(0, 0, 0, 0.5);
  margin: auto;
  border: 1px solid #000000;
}

.table1 td,
.table1 th {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding: 8px;
  text-align: center;
}

.table1 tr:nth-child(even) {
  background-color: #f0f1ff
}
/*
#data-table tr:hover {
  background-color: rgba(242, 244, 255, 0.123)
}
*/
.table1 th {
  /*background: rgb(0,0,158);
  background: linear-gradient(0deg, rgba(0,0,158,1) 0%, rgba(87,87,255,1) 100%);*/
  background-color: #c4c4c4;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}

.table1 th input {
  max-width: 70px;
  height: 15px;
}



/*Overlays*/
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: 500ms;
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.overlay.active {
  visibility: visible;
  opacity: 1;
}

#historyPopup {
  height: 300px;
  width: 1200px;
  background-color: #dddddd;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid grey;
  border-radius: 3px;
}

.selectionPopup {
  height: 300px;
  width: 700px;
  background-color: #dddddd;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid grey;
  border-radius: 3px;
}

.selectionPopup .content {
  display: flex;
  justify-content: center;
}

.selectionPopup .content button{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.selectionPopup textarea{
  font-size: 26px;
}

.selectionPopup button{
  font-size: 26px;
}

.cancelBar{
  display: flex;
  justify-content: flex-end;
}

.cancelButton{
  background-color: red;
  cursor: pointer;
}



/* Wrapper for the input and suffix */
.input-wrapper {
  position: relative;
  display: inline-block;
  width: 100%; /* Adjust width as needed */
}

/* Style the input field */
.input-wrapper input {
  height: 20px;
  width: 85px;
  padding-right: 30px; /* Space for the suffix */
  padding: 2px 4px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style for the percentage sign */
.input-suffix {
  position: absolute;
  right: 70px;
  top: 13px;
  /*top: 50%;*/
  transform: translateY(-50%);
  font-size: 16px;
  color: #555;
  pointer-events: none; /* Prevent interaction with the suffix */
}


/* Hide the spinners for Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the spinners for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Hide the spinners for Internet Explorer */
input[type="number"]::-ms-clear,
input[type="number"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* styles.css */
#mainBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #070e1d;
  height: 30px; /* Background color for visibility */
  position: relative;
}

.left-space {
  flex: 1;
}

#mainBar h1 {
  top: 0;
  color: white;
  font-size: 25px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0; /* Remove default margin */
}

.right-items {
  display: flex;
  gap: 0px; /* Space between right items */
}