body {
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#data-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

#data-table td, #data-table th {
  border: 1px solid #000000;
  padding: 8px;
  text-align: center;
}

#data-table tr:nth-child(even){background-color: #f2f2f2;}

#data-table tr:hover {background-color: #ddd;}

#data-table th {
  background-color: #bdbdbd;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  color: black;
}

#data-table th input{
  max-width: 100px;
}





/* Set the maximum height for table cells and allow wrapping */
#data-table td {
  max-height: 50px; /* Adjust the height as needed */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}




.sort-button {
  border: none;
  background-color: transparent;
  font-size: 18px; /* Increase font size */
  cursor:pointer;
}

.filter-button {
  font-size: 20px; /* Increase font size */
  cursor:pointer;
}
.filter-button.active{
  background-color: #94bfff;
  border-color: #000000;
}

td.intensity4{
  background-color: red;
}
td.intensity3{
  background-color: orange;
}
td.intensity2{
  background-color: greenyellow;
}
td.intensity1{
  background-color: green;
}

td input{
  height: 100%;
}